

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	width: 90%;
	margin: 0 auto;
}

.navigation a{
	display: inline-block;
	margin: 50px;
  text-decoration: none;
  color: gray;
}

.logo {
	margin-left: 50px;
	margin-top: 20px;
}

.title {
	display: inline-block;
	position: relative;
	left: 200px;
	bottom: 50px;
	width: 400px;
	height: 275px;
	padding: 20px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 90px;
}

button {
	background-color: white;
	padding: 10px;
	width: 125px;
	height: 40px;
	border: 1px gray solid;
	position: relative;
	right: 80px;
	top: 2px;
}

.logo2 {
	position: relative;
	left: 300px;
	top: 10px;
	display: inline-block;
}

.top {
	width: 49%;
	display: inline-block;
	margin: 5px;
}

.bottom {
	width: 32%;
	display: inline-block;
	margin: 5px;
}

.second-img {
	width: 100%;
	margin: 15px;
}

.contact {
	margin: 10px;
}

.contact h4 {
	margin-bottom: 15px;
}

.contact-phone {
	margin-top: 15px;
	margin-bottom: 15px;
}

footer p {
	text-align: center;
	margin-top: 50px;
}

